body {
    background: rgba(204, 204, 204, 0.929);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa {
    justify-content: center;
    margin: 40px;
    padding: 20px 20px;
    width: 25em;    
    border: 1px solid rgb(58, 14, 99);
    border-radius: 12px;
    box-shadow: 0 10px 10px 0 rgb(141, 135, 147);
}

.titulo {
    font-size: 3.5rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(58, 14, 99);
    padding: 20px;
}

.formulario {
    text-align: center;
}

#tarefa, #inserir_tarefa {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color:rgb(58, 14, 99);
    border: 0.5px solid whitesmoke;
    border-radius: 12px;
    background: rgba(204, 204, 204, 0.929);
    padding: 10px;
}

#tarefa:focus {
    outline: 0;
    border-color: rgb(58, 14, 99);
}

#inserir_tarefa:hover {
    background: rgb(128, 77, 175);
    color:whitesmoke;
    transition: 0.5s;
    cursor: pointer;
}

#inserir_tarefa:active {
    transform: scale(1.1);
    box-shadow: 3px 3px 2px 2px;
    color: rgb(174, 171, 171);
}

.mostrar_tarefas {
    background: red;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 12px;
    width: 100%;
}

 .error {
    border: 2px solid red !important;
 }

 .error::placeholder {
    color: red;
 }